In [70]:
# Importing necessary libraries
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import datetime
import time

In [46]:
# URL of the webpage containing the commodity forecast data
URL = 'https://tradingeconomics.com/forecast/commodity'

In [47]:
#Somtimes you might get error so try adding a browser user agent.
#https://deviceatlas.com/blog/list-of-user-agent-strings

In [48]:
# Defining custom headers to simulate a browser visit
headers = {
    "Connection": "keep-alive",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36"
}

# Sending an HTTP GET request to the URL and getting the webpage content
page = requests.get(URL, headers=headers)

In [49]:
# Parsing the webpage content using BeautifulSoup
soup = BeautifulSoup(page.text)

In [50]:
# Finding the first table on the webpage (index 0), which contains the commodity forecast data
table = soup.find_all('table')[0]

In [51]:
# Extracting headers (column titles) from the table
table_headers = table.find_all('th')
world_table_titles = [title.text.strip() for title in table_headers]

In [53]:
# Removing unwanted columns and cleaning the list of column titles
world_table_titles = list(filter(None,world_table_titles))
world_table_titles.remove('Signal')

In [57]:
# Extracting data cells from the table
column_data = soup.find_all('td')

In [80]:
# Extracting and cleaning data for each row
for row in column_data:
    data = [row.text.strip() for row in column_data]
    data = list(filter(None,data))
    
    # Calculating the length of header and number of rows
    lenofheader = len(world_table_titles)
    lenofrows = int(len(data)/lenofheader)
    
    # Reshaping the data array into a 2D array
    a = np.reshape(data, (lenofrows, lenofheader))

In [81]:
# Creating a DataFrame using the reshaped data and column titles
df = pd.DataFrame(a, columns = world_table_titles)

In [79]:
df

,Energy,Price,Q3/23,Q4/23,Q1/24,Q2/24
0,Crude Oil,80.088,82.563,84.985,87.472,90.039
1,Brent,84.384,87.105,89.471,91.905,94.406
2,Natural gas,2.6682,2.7061,2.8750,3.0543,3.2449
3,Gasoline,2.7871,2.9539,3.0558,3.1612,3.2703
4,Heating Oil,3.2054,3.4267,3.5401,3.6572,3.7783
...,...,...,...,...,...,...
83,SSE Consume Commodity Index,"9,676.47","9,385.02","9,225.58","9,069.01","8,914.34"
84,EU Carbon Permits,89.97,86.67,83.82,81.06,78.40
85,Wind Energy Index,280.68,273.81,269.69,265.66,261.66
86,Nuclear Energy Index,"1,690.30","1,700.87","1,724.03","1,747.52","1,771.18"
87,Solar Energy Index,279.65,271.99,266.12,260.37,254.75